body {
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: ravi;
    src: url(/ravi-vf.woff2);
}

* {
    font-family: ravi;
}

.title span {
    display: inline-block;
    color: white;
    background-color: rgba(255, 255, 255, 0.216);
    font-size: x-large;
    font-weight: 400;
    padding: 0.5em 1em;
    position: relative;
    right: 50%;
    transform: translate(50%, 0);
    top: 0.5em;
    border-radius: 4em;
    width: 30%;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgba(41, 48, 151, 0.656);
    width: 14.5em;
    margin: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    top: 2em;
    text-align: center;
}

a:first-of-type {
    margin-right: 8em;
}

.lists {
    display: flex;
    justify-content: center;
}

.lists div {
    color: rgb(171, 169, 169);
    margin: 0.5em;
    width: 15em;
    height: 13em;
    background-color: rgba(255, 255, 255, 0.040);
    border-radius: 2.5em;
    position: relative;
    top: 3em;
    list-style: none;
    visibility: hidden;
}

.lists div img {
    width: 34px;
    position: relative;
    right: 2em;
    padding: 1em;
    vertical-align: middle;
}

.lists div span {
    position: relative;
    right: 1em;
    padding: 1em;
}

.lists div:nth-last-child(2) li span {
    padding: 1em;
    margin: 1em;
    border-right: 0.1em solid rgba(0, 0, 255, 0.438);
    position: relative;
    top: 3.5em;
}

.lists div:nth-last-child(1) li span {
    padding: 0.5em;
    margin: 0.5em 0.5em;
    position: relative;
    top: 3em;
}

.boxes {
    display: flex;
    justify-content: center;
}

.boxes div {
    color: rgba(255, 255, 255, 0.704);
    margin: 0.5em;
    width: 15em;
    height: 13em;
    background-color: rgba(255, 255, 255, 0.040);
    border-radius: 2.5em;
    position: relative;
    top: 2.5em;
}

.boxes div img {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 100px;
}

.boxes div span {
    position: absolute;
    right: 2em;
    top: 2em;
}

a:nth-last-of-type(1):hover+section div:nth-last-child(1) {
    visibility: initial;
}

a:nth-of-type(5):hover~div div:nth-of-type(5) {
    transform: translate(0, 2em);
    transition: 0.7s;
    border-top: 2px solid rgba(0, 0, 255, 0.623);
}

a:nth-last-of-type(2):hover~section div:nth-last-child(2) {
    visibility: initial;
}

a:nth-of-type(4):hover~div div:nth-of-type(4) {
    transform: translate(0, 1em);
    transition: 0.7s;
    border-top: 2px solid rgba(0, 0, 255, 0.623);
}

a:nth-last-of-type(3):hover~section div:nth-last-child(3) {
    visibility: initial;
}

a:nth-of-type(3):hover~div div:nth-of-type(3) {
    transform: translate(0, 1em);
    transition: 0.7s;
    border-top: 2px solid rgba(0, 0, 255, 0.623);
}

a:nth-last-of-type(4):hover~section div:nth-last-child(4) {
    visibility: initial;
}

a:nth-of-type(2):hover~div div:nth-of-type(2) {
    transform: translate(0, 1em);
    transition: 0.7s;
    border-top: 2px solid rgba(0, 0, 255, 0.623);
}

a:nth-last-of-type(5):hover~section div:nth-last-child(5) {
    visibility: initial;
}

a:nth-of-type(1):hover~div div:nth-of-type(1) {
    transform: translate(0, 1em);
    transition: 0.7s;
    border-top: 2px solid rgba(0, 0, 255, 0.623);
}

.login {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgb(4, 86, 140) 100%);
    width: 350px;
    border: 0;
    border-radius: 0.6em;
    padding: 2em;
    margin: 1em;
    position: relative;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.login input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 2.5em 0;
    border: 0;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.3em;
}

.login input:focus {
    outline: none;
    padding: 0.7em;
}

.login button {
    display: inline-block;
    color: black;
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    border: 0;
    border-radius: 0.4em;
    padding: 0.7em;
}

#loginButton {
    display: inline-block;
    color: blue;
    position: relative;
    right: 50%;
    top: 5em;
    transform: translate(50%, 50%);
}

.login::backdrop {
    background-color: rgba(0, 0, 0, 0.907);

}